.el-table {
    overflow: visible;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #d2d2d2;
    margin-bottom: 55px;
    padding-top: 10px;
    
    tr {
      background: none;
      background-color: #fff;
    }
  
    th {
      background: none;
      background-color: #fff;
      padding-top: 20px;
    }
  
    .el-table__header-wrapper {
      position: sticky;
      top: 55px;
      z-index: 10;
      background: linear-gradient(#fff 80%, rgba(255, 255, 255, 0.8) 100%);
    }
  }