


@media (min-width: 1025px) {
  .placeholdercl {
    width: 200px;
  }
}

@media (max-width: 1025px) {
  .placeholdercl {
    width: 100px;
  }
}

@media (max-width: 560px) {
  .placeholdercl {
    width: 0;
  }
}
